<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shawarmer.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="false"
        android:name=".MyApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.Shawarmer">
        <activity
            android:name="com.shawarmer.app.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <data android:scheme="@string/callback_scheme"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>


        <activity
            android:name="com.oppwa.mobile.connect.checkout.dialog.CheckoutActivity"
            tools:replace="android:theme"
            android:theme="@style/CustomCheckoutTheme"
            android:windowSoftInputMode="adjustResize"
            android:exported="false"
            android:launchMode="singleTop"/>

        <receiver
            android:name=".receiver.CheckoutBroadcastReceiver"
            android:exported="false" />

    </application>

</manifest>